<script
  src="https://kit.fontawesome.com/62f9f1cacb.js"
  crossorigin="anonymous"
></script>
<div id="contact-div">
  <div class="footer p-4 w-100">
    <h1>Contact</h1>
    <hr />
    <div class="contact-methods d-flex flex-column justify-content-center">
      <span class="contact-color"
        ><fa-icon [icon]="faPhone" size="2x"></fa-icon>
        <span class="link-text ml-2 p-auto">(402) 541-2468</span></span
      >
      <a class="contact-color link" href="mailto: dylansnyder711@gmail.com"
        ><fa-icon class="icon-color" [icon]="faAt" size="2x"></fa-icon>
        <span class="link-text ml-2 p-auto">dylansnyder711@gmail.com</span></a
      >
      <a
        class="contact-color link"
        href="https://www.linkedin.com/in/dylan-snyder-b889551a2"
        ><fa-icon [icon]="faLinkedin" size="2x"></fa-icon>
        <span class="link-text ml-2 p-auto"
          >linkedin.com/in/dylan-snyder-b889551a2</span
        ></a
      >
    </div>
  </div>
</div>
