<div class="jumbotron m-0 rounded-0">
  <div class="container">
    <h1>About Me</h1>
    <h4><em>I'm a Independent Contractor</em></h4>
    <hr />
    <div class="row p-4">
      <div class="col-lg-4 text-left">
        <h3>Who am I?</h3>
        <p>
          I am a recent graduate from the University of Nebraska, Omaha. While
          attending the university, I painted houses with a company founded by
          my old high school CAD teacher. As I began taking on more
          responsibility, I realized how much I enjoy contracting work and
          interacting with clients. I only recently discovered that I have a
          passion for web development and a strong desire to learn something new
          every day. I don't know everything about web development, I never
          will, and that is something I'm excited about.
        </p>
      </div>
      <div class="col-lg-4 mt-4">
        <img
          class="profile-picture rounded-circle"
          src="./assets/images/portfolio-images/profile2cpy.jpg"
          alt="profile picture"
        />
      </div>
      <div class="col-lg-4 text-left">
        <h3>Details</h3>
        <strong>Name:</strong>
        <p>Dylan Snyder</p>
        <strong>Age: </strong>
        <p>{{ age }} years</p>
        <strong>Location:</strong>
        <p>Omaha, Nebraska</p>
      </div>
    </div>
  </div>
</div>
