<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dylan Snyder</title>
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap"
      rel="stylesheet"
    />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Barlow+Condensed&family=Open+Sans&display=swap"
      rel="stylesheet"
    />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <main (scroll)="handleShowNav($event)" (scroll)="onScroll($event)">
      <app-nav [navLinks]="navLinks" [pageScroll]="pageScrollEvent"></app-nav>
      <section id="landing">
        <div class="landing-overlay">
          <app-landing [navLinks]="navLinks"></app-landing>
        </div>
      </section>
      <section id="about" #about>
        <app-about class="w-100"></app-about>
      </section>
      <section id="portfolio" #portfolio>
        <app-portfolio class="w-100"></app-portfolio>
      </section>
      <section id="projects" #projects>
        <app-projects class="w-100 h-70"></app-projects>
      </section>
      <section id="contact" #contact>
        <app-contact class="w-100"></app-contact>
      </section>
    </main>
  </body>
</html>
